#sponsors {
  background:#f0f0f0;
  padding-bottom:50px;

  .card {
    .logos {
      height: 160px;
      display:table;
      vertical-align: middle;

      span {
        display:table-cell;
        vertical-align: middle;
      }
    }
    img {
      max-width: 150px;
      margin: 40px auto;
      max-height: 80px;
      object-fit: contain;
      font-family: 'object-fit: contain;';
    }
    .card-body {
      padding-top: 0;
      padding-bottom: 40px;
    }

  }

}
