@mixin breakpoint($break) {
   @if $break == mobile {
   @media screen and (min-width: 480px) { @content; }
   }
   @if $break == tablet {
   @media screen and (min-width: 699px) { @content; }
   }
   @else if $break == laptop {
   @media screen and (min-width: 999px) { @content; }
   }
   @else if $break == desktop {
   @media screen and (min-width: 1260px) { @content; }
   } @else {
   @media screen and ($break) { @content; }
   }
}
