#contact {
  label {
    color:$red;
    font-weight: 100;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  .form-control {
    border-color:$green;
    border-radius:0;
    -webkit-appearance: none;
    height: calc(2.25rem + 10px);
    background:transparent;

    &#message {
      height: calc(2.25rem + 140px);

    }
  }

  .form-group {
    position:relative;
  }

  .arrow {
    content:'';
    display:block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $green;
    position: absolute;
    right: 13px;
    bottom: 17px;
    z-index: -1;
  }

  .btn {
    float:right;
    margin:20px 0;
  }
}
