#home {
  .card {
  	border-radius:0;
  	border:none;
    max-height: 300px;
    overflow: hidden;

    @include breakpoint(laptop){
      max-height: 360px;
    }
  }
  .card-img {
  	border-radius:0;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }

  #intro {
    padding:50px 0;

    p {
      max-width: 550px;
      margin: 0 auto;
    }
  }

  #team {
    padding:50px 0;

    img {
      width: 100%;
      max-width: 170px;

      margin-bottom:20px;

      @include breakpoint(laptop){
        margin-bottom:0;
      }

    }

    h2 {
      text-align: center;
    }

    h3 {color:$blue;}

    h4 {
      color:$mid-green;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.6rem;
      letter-spacing:0;
    }

    .col-lg-6 {
      margin-bottom:30px;

      @include breakpoint(laptop){
        margin-bottom:0;
        text-align:left;
      }
    }
  }

  h2 {
  	font-size: 2rem;
  	margin-bottom: 30px;
  	letter-spacing: 0.1rem;

    @include breakpoint(laptop){
      font-size: 2.4rem;
      margin-bottom: 35px;
    }
  }

  #home-banner {
    background:url('../img/home_banner.jpg');
    background-size:cover;
    min-height:510px;
    color:white;
    margin: 0;

    h1 {
      color:white;
      font-size: 4rem;
      line-height: 4rem;
      font-style: italic;

      @include breakpoint(tablet){
        font-size: 6rem;
        line-height: 5.2rem;
      }

      @include breakpoint(laptop){
        font-size: 10rem;
        line-height: 7.4rem;
      }

      span {
        display:block;
        font-size: 3.3rem;

        @include breakpoint(tablet){
          font-size: 5.2rem;
        }

        @include breakpoint(laptop){
          font-size: 8.2rem;
        }

      }

    }

    p {
      font-weight: 600;
      margin: 30px auto;
      padding: 0 30px;
      line-height: 1.8rem;
      max-width: 540px;
    }

  }

  #services {
    h5 {
      font-size: 2rem;
      line-height: 2.4rem;

      @include breakpoint(tablet){
        font-size: 1.5rem;
      }

      @include breakpoint(desktop){
        font-size: 2rem;
      }

    }

  }

}

.vertical-centre {
  display:table;
  height:100%;
  width:100%;

  div,h5 {
    display:table-cell;
    vertical-align: middle;
  }
}

#twitter {
  width: 100%;
  padding:0px 30px 30px 30px;
  background:$light-grey;
  margin: 0;

  @include breakpoint(tablet){
    padding: 50px;
  }

  #bird {
    width: 100px;
  }
}
