
h2 {
  font-size: 2rem;

  @include breakpoint(laptop){
    font-size: 2.4rem;
  }
}

.red {
  color:$red !important;
}

#banner {
  background:url('../img/home_banner.jpg');
  background-size:cover;
  height: 250px;
  color:white;
  margin: 0 0 50px 0;

  h1 {
    color:white;
    font-size: 3rem;
    line-height: 3rem;
    font-style: italic;

    @include breakpoint(tablet){
      font-size: 5rem;
      line-height: 4.2rem;
    }

    @include breakpoint(laptop){
      font-size: 7rem;
      line-height: 5.2rem;
    }

  }

}

.bullets {
  list-style:none;
  margin:0;
  padding:0;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 200;
  li:before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $green; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
}

.card {
  border: none;

  &.shadow-sm {
    box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.09) !important;
  }

  h5 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  p {
    line-height: 1.9rem;
    margin-bottom: 7px;
  }

}

footer {
  background:$dark-blue;
  height:80px;

  .navbar-nav {
  	flex-direction: inherit;
  }

  ul {
    margin: 0 auto;

    li {
      margin: 0 20px;
    }
  }

  a {
    display: block;
    width: 30px;
    height: 30px;
    padding:0;

    img {
      width: 30px;
      height: auto;
    }
  }
}
