header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  flex-direction: column;

  nav {
    background-color:$green;

    .nav-link {
      color:white !important;
      text-transform:uppercase;
      letter-spacing: 0.02rem;
      font-size: 0.9rem;
      padding: 15px;
      margin: 0 20px;
      text-align: center;
    }

    .navbar-collapse {
      flex-grow: initial;
      justify-content: center;
      flex-basis: 100% !important;
    }
  }

  .navbar {
    padding: 0.1rem 1rem;
  }

  .navbar-nav {
    width: 100%;
    max-width: 1200px;

    .nav-item {
      align-items: center;
      flex: auto;
    }
  }


}

#logo {
  height: 45px;
  display: block;
  margin: 30px auto;

  @include breakpoint(tablet){
    height: 80px;
  }
}
