#services-blocks {
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-body {
    padding: 2rem;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    font-family: 'object-fit: cover;';

    @include breakpoint('min-width:768px'){
      width: 250px;
      height: 305px;
    }

    @include breakpoint(laptop){
      width: 280px;
      height: 280px;
    }
  }

  div div:nth-child(3n) img,div div:nth-child(5n) img{
    object-position: top;
  }

}
