#team {
  padding:20px 0;
  text-align:center !important;

  @include breakpoint(laptop){
    text-align:left !important;
  }

  img {
    width: 100%;
    max-width: 170px;

    margin-bottom:20px;

    @include breakpoint(laptop){
      margin-bottom:0;
    }

  }

  h3 {color:$blue;}

  h4 {
    font-size:1.2rem;
  }

  h5 {
    color:$mid-green;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing:0;
  }

  .bullets {
    padding-left: 17px;
  }

  .col-lg-6 {
    margin-bottom:30px;

    @include breakpoint(laptop){
      margin-bottom:0;
      text-align:left;
    }
  }
}
