/* Base styles */
$open-sans:'Open Sans', sans-serif;

// Colours

$green: #0ad2d2;
$mid-green: #12bbbb;
$red: #bf344c;
$font-color: #05112f;
$light-grey: #f0f0f0;
$dark-blue: #2e61a7;
$blue: #3667aa;

// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
	}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin box-shadow($box-shadow) {
	-webkit-box-shadow:$box-shadow;
	-moz-box-shadow:$box-shadow;
	box-shadow:$box-shadow;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin rotate( $val ) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
     -moz-box-ordinal-group: $val;
  	     -ms-flex-order: $val;
  	      -webkit-order: $val;
  		      order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}


%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Base styles

html{
	position:relative;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
  -ms-overflow-style: scrollbar;
}

body{
	font-family: $open-sans;
	//font-weight: 500;
	font-size:1rem;
	color:$font-color;
	// for mobile
	min-width:320px;
	width: 100%;
	margin:0;
	min-height: 100%;
	min-height: 100vh;
	height:100%;
}

input, textarea {font-family: $open-sans; font-size:0.983em;}
input {
	&:focus {
		outline:none;
    border-color:#a5a5a5;
	}
}

input::-ms-clear {
    display: none;
}

textarea {
    resize:vertical;
    overflow-y:auto;
}

.clear{
	clear:both;
	zoom:1;
}

// Type

h1,h2,h3,h4,h5,h6{
	font-family:$open-sans;
  color:$font-color;
  font-weight:100;
	letter-spacing: 0.02rem;
	text-transform:uppercase;
}

h1 {
    font-size: 2rem;
    //margin-bottom: 30px;
    color:$font-color;
}

h2,h3,h4,h5 {
	color:$red;
	letter-spacing: 0.15rem
}

p {
	line-height: 1.9rem;
	font-weight: 200;
}

a,a:visited {
    color:$font-color;
    text-decoration:none;
}

.btn {
	color:white;
	background-color:$green;
}

.btn-primary {
	background-color:$green;
	border-radius:0;
	border:none;
	text-transform:uppercase;
	letter-spacing: 0.02rem;
	padding: 12px 20px;
	color:white !important;

	&:hover,&:active,&:visited {
		background:#0bb3b3;
	}
}

::-webkit-input-placeholder {
   color: #6a6a6a;
}

:-moz-placeholder { /* Firefox 18- */
   color: #6a6a6a;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #6a6a6a;
}

:-ms-input-placeholder {
   color: #6a6a6a;
}

::-webkit-input-placeholder {
   opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
   opacity:1;
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity:1;
}

:-ms-input-placeholder {
   opacity:1;
}
