/* Base styles */
html {
  position: relative;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #05112f;
  min-width: 320px;
  width: 100%;
  margin: 0;
  min-height: 100%;
  min-height: 100vh;
  height: 100%; }

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 0.983em; }

input:focus {
  outline: none;
  border-color: #a5a5a5; }

input::-ms-clear {
  display: none; }

textarea {
  resize: vertical;
  overflow-y: auto; }

.clear {
  clear: both;
  zoom: 1; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #05112f;
  font-weight: 100;
  letter-spacing: 0.02rem;
  text-transform: uppercase; }

h1 {
  font-size: 2rem;
  color: #05112f; }

h2, h3, h4, h5 {
  color: #bf344c;
  letter-spacing: 0.15rem; }

p {
  line-height: 1.9rem;
  font-weight: 200; }

a, a:visited {
  color: #05112f;
  text-decoration: none; }

.btn {
  color: white;
  background-color: #0ad2d2; }

.btn-primary {
  background-color: #0ad2d2;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  padding: 12px 20px;
  color: white !important; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background: #0bb3b3; }

::-webkit-input-placeholder {
  color: #6a6a6a; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #6a6a6a; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a6a6a; }

:-ms-input-placeholder {
  color: #6a6a6a; }

::-webkit-input-placeholder {
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1; }

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

/*# sourceMappingURL=base.css.map */
